.financial-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.financial-hero {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.financial-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.financial-overlay h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-top: 100px;
}

.financial-content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.text-section {
  max-width: 500px;
}

.service-label {
  color: #f85503;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 28px;
}

.text-section h2 {
  font-size: 28px;
  margin: 10px 0;
  color: #f85503;
}
.financial-description {
  font-size: 18px;
  line-height: 1.6;
  color: #020202;
}

.Financial-image-section img {
  max-width: 700px;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .financial-hero{
    height: 35vh;
  }

  .financial-overlay h1{
    font-size: 24px;
    padding: 0 10px;
    text-align: center;
  }
  .financial-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 20px;
    align-items: center; /* Center content on small screens */
  }

  .text-section {
    max-width: 100%;
    text-align: center;
  }

  .service-label {
    font-size: 20px;
  }

  .text-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .financial-description {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 10px;
  }

  .financial-description h3{
    text-align: left;
    margin-bottom: -15px;
  }
 
  .financial-description ul {
    padding-left: 20px;
    text-align: left;
  }

  .image-section {
    width: 100%;
    text-align: center;
  }

  .image-section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

