.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-card {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #c84123;
  font-size: 24px;
}

.login-card input {
  width: 95%;
  padding: 12px 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border 0.2s;
  color: #000;
}


.login-card input:focus {
  border-color: #c84123;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #c84123;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.login-card button:hover {
  background-color: #a82f17;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.entered-info {
  margin-top: 15px;
  font-size: 13px;
  background-color: #908e8e;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
}

.entered-info p {
  margin: 5px 0;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 35px; /* space for the toggle */
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #666;
  display: flex;
  align-items: center;
  height: 100%;
}
.toggle-password:focus {
  outline: none;
}

/* Responsive styling */
@media (max-width: 500px) {
  .login-card {
    padding: 20px 15px;
  }

  .login-card h2 {
    font-size: 20px;
  }

  .login-card input, .login-card button {
    font-size: 13px;
    padding: 10px;
  }
}
